streamlit==1.35.0

langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-groq==0.1.6

chromadb==0.5.5

sentence-transformers==2.7.0

unstructured

beautifulsoup4==4.12.3
lxml==5.2.2

python-dotenv==1.0.1
